@font-face {
  font-family: 'todolist-icon';
  src:  url('../fonts/todolist-icon.eot?w1s3c7');
  src:  url('../fonts/todolist-icon.eot?w1s3c7#iefix') format('embedded-opentype'),
    url('../fonts/todolist-icon.ttf?w1s3c7') format('truetype'),
    url('../fonts/todolist-icon.woff?w1s3c7') format('woff'),
    url('../fonts/todolist-icon.svg?w1s3c7#todolist-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'todolist-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add_circle:before {
  content: "\e900";
}
.icon-arrow_lift:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-remove_circle_outline:before {
  content: "\e906";
}
.icon-shopping_cart:before {
  content: "\e907";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-table:before {
  content: "\ea70";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-github:before {
  content: "\eab0";
}
.icon-codepen:before {
  content: "\eae8";
}
